[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

falcon = "*"
requests = "*"
sqlalchemy = "*"
"psycopg2" = "*"
python-firebase = "*"
google-cloud-storage = "*"
pandas = "*"


[dev-packages]

